{% extends 'headfoot.html' %}

{% block content %}
	
	<div id="eyeCatch">
		<img class="igimg" src="/static/images/iGfitnessPic.jpg">
		<img class="igslogan" src="/static/images/igslogan.jpg">
		<div id="mainHeadline" class="headline">
			<h1>DO NOT START ANOTHER DIET!</h1>
		</div>
		<div id="slogan1" class="headline">
			95% of all those who lose weight gain it all back after just 36 months...
		</div>
		<div id="slogan2" class="headline">
			...and  2/3rds of those gain even more weight back than they lost!
		</div>
	</div>
	
	<div id="about">
		<h2>STOP DIETING AND START MAKING PROGRESS!</h2>
		<img src="/static/images/igwhite.png">
	</div>
	
	<div id="whyiG">
		<h2>STRENGTHEN YOUR MIND, STRENGTHEN YOUR BODY...</h2>
		<img src="/static/images/igblack.png">
		<div class="formWrap">
			<div class="formContainer">
				<h2 style="font-size: 20px; color: #3005E0;
				padding-bottom: 10px;">BOOK CONSULTATION</h2>
					<form>
						<div class="row">
							<div class="col-25">
								<label for="name">Name</label>
							</div>
							<div class="col-75">
								<input type="text" id="name" name="name" placeholder="Name">
							</div>
						</div>
						<div class="row">
							<div class="col-25">
								<label for="email">Email</label>
							</div>
							<div class="col-75">
								<input type="email" id="email" name="email" placeholder="Email">
							</div>
						</div>
						<div class="row">
							<div class="col-25">
								<label for="phone">Phone</label>
							</div>
							<div class="col-75">
								<input type="text" id="phone" name="phone" placeholder="Phone">
							</div>
						</div>
						<input type="submit">
					</form>
			</div>
		</div>
	</div>
	
	<div id="trial">
		<a href="#"><h2 class="trialHead">30 Day Trial</h2></a>	
		<a href="#"><h2 class="subscribe">Subscribe to our mailing list</h2></a>	
	</div>
	
		
{% endblock %}
	
